specifications/xpath-functions-31/src/fos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
           targetNamespace="http://www.w3.org/xpath-functions/spec/namespace" 
		   xmlns:fos="http://www.w3.org/xpath-functions/spec/namespace">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:attributeGroup name="diff-markup">
    <xs:attribute name="diff" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="add"/>
          <xs:enumeration value="chg"/>
          <xs:enumeration value="del"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="at" type="xs:NMTOKEN" use="optional"/>   
  </xs:attributeGroup>
  <xs:element name="functions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:global-variables"/>
        <xs:element ref="fos:function" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="global-variables">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:variable" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="function">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:signatures"/>
        <xs:element ref="fos:opermap" minOccurs="0"/>
        <xs:element ref="fos:properties" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="fos:summary"/>
        <xs:element ref="fos:rules"/>
        <xs:element ref="fos:errors" minOccurs="0"/>
        <xs:element ref="fos:notes" minOccurs="0"/>
        <xs:element ref="fos:examples" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="prefix" use="optional" type="xs:NCName"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="signatures">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:proto" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proto">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:arg" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:Name"/>
      <xs:attribute name="return-type" use="required"/>
      <xs:attributeGroup ref="fos:diff-markup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arg">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="fos:NCName-or-ellipsis"/>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="default" use="optional" type="xs:string"/>
      <xs:attribute name="usage" use="optional" type="fos:operand-usage">
        <xs:annotation>
          <xs:documentation>
            Used by XSLT for streamability analysis.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="opermap">
    <xs:complexType mixed="true">
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##local" processContents="skip"/>
      </xs:sequence>
      <xs:attribute name="operator" use="required"/>
      <xs:attribute name="other-operators"/>
      <xs:attribute name="types" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:property" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="arity" type="xs:nonNegativeInteger" use="optional"/>
    </xs:complexType>  
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:simpleContent>
          <xs:extension base="fos:property-type">
            <xs:attribute name="dependency" use="optional">
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="collations"/>
                      <xs:enumeration value="static-base-uri"/>
                      <xs:enumeration value="available-documents"/>
                      <xs:enumeration value="available-collections"/>
                      <xs:enumeration value="available-uri-collections"/>
                      <xs:enumeration value="decimal-formats"/>
                      <xs:enumeration value="default-calendar"/>
                      <xs:enumeration value="default-language"/>
                      <xs:enumeration value="default-place"/>
                      <xs:enumeration value="implicit-timezone"/>
                      <xs:enumeration value="environment-variables"/>
                      <xs:enumeration value="known-function-signatures"/>
                      <xs:enumeration value="namespaces"/>
                      <xs:enumeration value="schema-definitions"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="property-type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="focus-dependent"/>
      <xs:enumeration value="focus-independent"/>
      <xs:enumeration value="deterministic"/>
      <xs:enumeration value="nondeterministic"/>
      <xs:enumeration value="nondeterministic-wrt-ordering"/>
      <xs:enumeration value="context-dependent"/>
      <xs:enumeration value="context-independent"/>
      <xs:enumeration value="higher-order"/>
      <xs:enumeration value="special-streaming-rules"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="summary">
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="##local" processContents="skip"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rules">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:any namespace="##local" processContents="skip"/>
        <xs:element ref="fos:options"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="errors">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:any namespace="##local" processContents="skip"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notes">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:any namespace="##local" processContents="skip"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="examples">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="fos:example"/>
        <xs:element ref="fos:variable"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="variable">
    <xs:complexType mixed="true">
      <xs:attribute name="as"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attribute name="select"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="example">
    <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:any namespace="##local" processContents="skip"/>
          <xs:element ref="fos:test"/>
        </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fos:expression"/>
        <xs:choice>
          <xs:element ref="fos:result" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="fos:error-result"/>
        </xs:choice>
        <xs:element ref="fos:postamble" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="use" type="xs:IDREFS"/>
      <xs:attribute name="default-collation" type="xs:anyURI"/>
      <xs:attribute name="implicit-timezone" type="xs:duration"/>
      <xs:attribute name="xslt-version" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="expression">
    <xs:complexType mixed="true">
      <xs:attribute ref="xml:space"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="result">
    <xs:complexType mixed="true">
      <xs:attribute name="allow-permutation" type="xs:boolean"/>
      <xs:attribute name="approx" type="xs:boolean"/>
      <xs:attribute name="ignore-prefixes" type="xs:boolean"/>
      <xs:attribute name="normalize-space" type="xs:boolean"/>
      <xs:attribute name="as" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="error-result">
    <xs:complexType>
      <xs:attribute name="error-code" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="postamble">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##local" processContents="skip"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="NCName-or-ellipsis">
  	<xs:union memberTypes="xs:NCName">
	  <xs:simpleType>
	    <xs:restriction base="xs:string">
	      <xs:enumeration value="..."/>
		</xs:restriction>
	  </xs:simpleType>
	</xs:union>
  </xs:simpleType>
  <xs:simpleType name="operand-usage">
    <xs:restriction base="xs:NCName">
      <xs:enumeration value="inspection"/>
      <xs:enumeration value="absorption"/>
      <xs:enumeration value="transmission"/>
      <xs:enumeration value="navigation"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="options">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="option" minOccurs="1" maxOccurs="unbounded">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="applies-to" type="xs:string" minOccurs="0"/>
               <xs:element name="meaning" type="xs:anyType"/>
               <xs:element name="type" type="xs:string"/>
               <xs:element name="default" type="xs:anyType"/>
               <xs:element name="values" minOccurs="0">
                 <xs:complexType>
                   <xs:sequence>
                     <xs:element name="value" minOccurs="1" maxOccurs="unbounded">
                       <xs:complexType mixed="true">
                         <xs:sequence minOccurs="0" maxOccurs="unbounded">
                           <xs:any namespace="##local" processContents="skip"/>
                         </xs:sequence>
                         <xs:attribute name="value" type="xs:string" use="required"/>
                       </xs:complexType>
                     </xs:element>
                   </xs:sequence>
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
             <xs:attribute name="key" type="xs:string" use="required"/>
           </xs:complexType>
        </xs:element>
      </xs:sequence>    
    </xs:complexType>
  </xs:element>
</xs:schema>
