etc/REC-xmlschema11-1-20120405/local.dtd

<!ENTITY meForTxt "structures">
<!ENTITY XSP1 '<emph>XML Schema<phrase diff="add" dg="b4399"> Definition Language</phrase>: Structures</emph>'>
<!ENTITY XSP2 "<bibref ref='ref-xsp2'/>">
<!ENTITY xsp2Xref "../REC-xmlschema11-2-20120405/datatypes.xml">
<!ENTITY schemaExample "example.xsd.dmp">

<!--* QT spec locations *-->
<!ENTITY xdm "http://www.w3.org/TR/xpath-datamodel/">
<!ENTITY xdm-dated "http://www.w3.org/TR/2007/REC-xpath-datamodel-20070123/">
<!ENTITY xpath2 "http://www.w3.org/TR/xpath20/">
<!ENTITY xpath2-dated "http://www.w3.org/TR/2007/REC-xpath20-20070123/">
<!ENTITY fno "http://www.w3.org/TR/xpath-functions/">
<!ENTITY fno-dated "http://www.w3.org/TR/2007/REC-xpath-functions-20070123/">

<!--* symbols, special characters *-->
<!ENTITY cap    "&#x2229;" ><!--/cap B: =intersection-->
<!ENTITY cup    "&#x222A;" ><!--/cup B: =union or logical sum-->
<!ENTITY _dot_   " . " >
<!ENTITY __dot__   "&nbsp;.&nbsp;" >
<!ENTITY empty  "&#8709;"><!--* empty set *-->
<!ENTITY emptyset  "&empty;"><!--* empty set *-->
<!ENTITY ge     "&#x2265;" ><!--/geq /ge R: =greater-than-or-equal-->
<!ENTITY ldquo  "&#x201C;" ><!--=double quotation mark, left-->
<!ENTITY le     "&#x2264;" ><!--/leq /le R: =less-than-or-equal-->
<!ENTITY lsquo  "&#x2018;" ><!--=single quotation mark, left-->
<!ENTITY minus     "-" >
<!ENTITY ne     "&#x2260;" ><!--/ne /neq R: =not equal-->
<!ENTITY neq    "&#x2260;" ><!--/ne /neq R: =not equal-->
<!ENTITY prime  "&#x2032;" ><!--/prime =prime or minute-->
<!ENTITY Prime  "&#x2033;" ><!--=double prime or second-->
<!ENTITY rarr   "&#x2192;" ><!--/rightarrow /to A: =rightward arrow-->
<!ENTITY rdquo  "&#x201D;" ><!--=double quotation mark, right-->
<!ENTITY rsquo  "&#x2019;" ><!--=single quotation mark, right-->
<!ENTITY times  "&#215;" ><!--/times B: =multiply sign-->
<!ENTITY uuml    "&#252;" ><!-- small u, dieresis or umlaut mark -->


<!--* terms, locutions, etc. *-->
<!ENTITY absent '<termref def="key-null">absent</termref>'>
<!ENTITY absolutely.x.gtes '<phrase diff="del" dg="cta-gst">given 
the empty set</phrase><phrase diff="add" dg="cta-gst"><termref 
def="key-val-sub-type-absolute">absolutely</termref></phrase>'>
<!ENTITY accept "<termref def='key-accept'>accept</termref>">
<!ENTITY accepted "<termref def='key-accept'>accepted</termref>">
<!ENTITY any.5151 '<phrase diff="add" dg="b5150b">any</phrase>'>
<!ENTITY actual-value "<termref def='key-vv'>actual value</termref>">
<!ENTITY actual_value "<termref def='key-vv'>actual value</termref>">
<!ENTITY actual-values "<termref def='key-vv'>actual values</termref>">
<!ENTITY actual_values "<termref def='key-vv'>actual values</termref>">
<!ENTITY actually-nil '<termref def="key-actually-nil"/>'>
<!ENTITY ancestor.x.p '<phrase diff="del" dg="cleanup-1">parent</phrase><phrase diff="add" dg="cleanup-1">ancestor</phrase>'>
<!ENTITY annotation-mapping_1 '<termref def="key-am-one"/>'>
<!ENTITY annotation-mapping_n '<termref def="key-am-set"/>'>
<!ENTITY annotations.x.prw '<propref comp="w" prop="annotation"  diff="del" dg="bannotations"
                          /><propref comp="w" prop="annotations" diff="add" dg="bannotations"/>'>
<!--* <!ENTITY anyType '<termref def="key-anyType">anyType</termref>'> *-->
<!--* <!ENTITY anyType-xur '<termref def="key-urType" diff="del" dg="rq17">anyType</termref><termref def="key-anyType" diff="add" dg="rq17">anyType</termref>'> *-->
<!ENTITY assessed "<termref def='key-va'>assessed</termref>">
<!ENTITY assessment "<termref def='key-va'/>">
<!--*    assessment, used to be validation (unmarked, or marked) *-->
<!ENTITY assessment.xvu '<phrase diff="del" dg="b5164">validation</phrase
                        ><phrase diff="add" dg="b5164">&assessment;</phrase>'>
<!ENTITY assessment.xv  '<phrase diff="del" dg="b5164">&validation;</phrase
                        ><phrase diff="add" dg="b5164">&assessment;</phrase>'>
<!ENTITY attributed-to '<termref def="key-att-to"/>'>
<!ENTITY attributed '<termref def="key-att-to">attributed</termref>'>
<!ENTITY attributes '<termref def="key-att-to">attributes</termref>'>

<!ENTITY att-attributed-to '<termref def="key-att-to"/>'>
<!ENTITY att-attributed '<termref def="key-att-to">attributed</termref>'>
<!ENTITY att-attributes '<termref def="key-att-to">attributes</termref>'>
<!ENTITY auto-known '<termref def="key-automatic">automatically known</termref>'>

<!ENTITY basic-particle '<termref def="key-basic-particle"/>'>
<!ENTITY basic-particles '<termref def="key-basic-particle">basic particles</termref>'>
<!ENTITY basic-term '<termref def="key-basic-term"/>'>
<!ENTITY basic-terms '<termref def="key-basic-term">basic terms</termref>'>

<!ENTITY br.ref-xml.xx '<bibref ref="ref-xml-1.0" diff="del" dg="b1838refs"
	  /><bibref ref="ref-xml-1.1" diff="add" dg="b1838refs"/>' >
<!ENTITY br.ref-xml-namespaces.xx '<bibref ref="ref-xml-namespaces-1.0" diff="del" dg="b1838refs"
	  /><bibref ref="ref-xml-namespaces-1.1" diff="add" dg="b1838refs"
	  />'>

<!ENTITY canonical-lex-rep '<xtermref 
  href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-canonical-representation"
  >canonical lexical representation</xtermref>'>
<!ENTITY c2h '<local diff="del" dg="b5282">C</local><local diff="add" dg="b5282">H</local>'>
<!ENTITY cdd '<termref def="key-dd"/>'>
<!ENTITY cdtat '<termref def="key-cdtat"/>'>
<!ENTITY context-determined-type-table '<termref def="key-cdtat"/>'>

<!ENTITY cm2mg '<phrase diff="del" dg="b5142">content model</phrase><phrase diff="add" dg="b5142">model group</phrase>'>
<!ENTITY compete '<termref def="key-compete"/>'>
<!ENTITY competes '<termref def="key-compete">competes</termref>'>
<!ENTITY competing '<termref def="key-compete">competing</termref>'>
<!ENTITY conforming_schema.xvs '<phrase diff="del" dg="b5435">valid schema</phrase
                               ><phrase diff="add" dg="b5435">conforming schema</phrase>' >
<!ENTITY c-path "<termref def='key-competing-paths'>competing path</termref>">
<!ENTITY c-paths "<termref def='key-competing-paths'/>">
<!ENTITY ctd-derivation-method '<propref comp="ctd" prop="derivation method"/>'>
<!ENTITY ctd-content-type '<propref comp="ctd" prop="content type"/>'>

<!ENTITY d2m '<local diff="del" dg="b5282">D</local><local diff="add" dg="b5282">M</local>'>
<!ENTITY deprecated '<termref def="key-deprecated">deprecated</termref>'>
<!ENTITY dft-binding '<termref def="key-dft-binding"/>'>
<!ENTITY dft-bindings '<termref def="key-dft-binding">default bindings</termref>'>
<!ENTITY dft-type-binding '<termref def="key-dtb"/>'>
<!ENTITY disallowed-names-nc '<propref comp="nc" prop="disallowed names"/>'>

<!--* 'match' and its variants *-->
<!ENTITY e-d-match '<termref def="key-e-d-match"/>'>
<!ENTITY e-d-matches '<termref def="key-e-d-match">matches</termref>'>
<!ENTITY en-match '<termref def="key-en-match"/>'>
<!ENTITY en-matches '<termref def="key-en-match">matches</termref>'>
<!ENTITY match-compatible '<termref def="key-match-compatible"/>'>

<!ENTITY ed-scope '<propref prop="scope" comp="ed"/>'>
<!ENTITY ed-scope-parent '<propref prop="parent" comp="sc_e"/>'>
<!ENTITY ed-scope-variety '<propref prop="variety" comp="sc_e"/>'>
<!ENTITY ed-type-table '<propref prop="type table" comp="ed"/>'>
<!ENTITY ed-typetable '<propref prop="type table" comp="ed"/>'>
<!ENTITY ed-declared-type 'declared <propref prop="type definition" comp="ed"/>'>
<!ENTITY ed-declared-type.xtd '<phrase diff="add" dg="cta-tddtd">declared </phrase
><propref prop="type definition" comp="ed"/>'>
<!ENTITY ed-typedef '<propref prop="type definition" comp="ed"/>'>

<!ENTITY elemonly.x '<phrase diff="del" dg="x1011"><pt>elementOnly</pt></phrase
                    ><phrase diff="add" dg="x1011"><pt>element-only</pt></phrase>'>
<!ENTITY elem-particle '<termref def="key-ep"/>'>
<!ENTITY elem-particles '<termref def="key-ep">element particles</termref>'>
<!ENTITY error '<termref def="dt-error">error</termref>'>
<!ENTITY equal.xid '<phrase diff="del" dg="wgi-20080530"
   >identical</phrase><phrase diff="add" dg="wgi-20080530"
   >equal</phrase>' >
<!ENTITY eq-or-id.xe.xi '<phrase diff="del" dg="b9196vc">&equal.xid;</phrase
       ><phrase diff="add" dg="b9196vc">equal or identical</phrase>' >
<!ENTITY eq-or-id.xeq '<phrase diff="del" dg="b9196vc">equal</phrase
	     ><phrase diff="add" dg="b9196vc">equal or
                    identical</phrase>' >

<!ENTITY frobnication "pre-processing">

<!ENTITY given.here.5152 '<phrase diff="del" dg="b5152">as follows:</phrase
                         ><phrase diff="add" dg="b5152">given in this section.</phrase>'>
<!ENTITY grouping "<termref def='key-grouping'/>">

<!ENTITY governed-by-ad '<termref def="key-governing-ed">governed by</termref>'>
<!ENTITY governed-by-ed '<termref def="key-governing-ad">governed by</termref>'>
<!ENTITY governed-by_type-elem '<termref def="key-governing-type-elem">governed by</termref>'>
<!ENTITY governing '<termref def="key-governing"/>'>
<!ENTITY governing-ad '<termref def="key-governing-ad"/>'>
<!ENTITY governing-ed '<termref def="key-governing-ed"/>'>
<!ENTITY governing-type-att '<termref def="key-governing-type-att"/>'>
<!ENTITY governing-type-elem '<termref def="key-governing-type-elem"/>'>

<!ENTITY IDC-comparison-rule.Part2 '<xtermref diff="del" href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#equal" dg="fpwd"
     >Equal</xtermref><xtermref diff="add" href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#equality" dg="fpwd"
     >Equality</xtermref> <phrase diff="add" dg="b9196idc">and 
     <xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#identity">Identity</xtermref></phrase>'
     >
<!ENTITY IDC-same.xeq 'equal<phrase diff="add" dg="b9196idc"> or identical</phrase>'>

<!--* entity i-value deprecated as of 23 Apr 2008, use norm-value instead *-->
<!ENTITY impl-dependent '<termref def="key-impl-dep">implementation-dependent</termref>'>
<!ENTITY impl-defined '<termref def="key-impl-defined">implementation-defined</termref>'>
<!ENTITY init-value "<termref def='key-iv'>initial value</termref>">
<!ENTITY init-value.xnv '<phrase diff="del" dg="b3251i">&norm-value;</phrase
                        ><phrase diff="add" dg="b3251i">&init-value;</phrase>'>
<!ENTITY istd '<termref def="key-itd">instance-specified type definition</termref>' >

<!ENTITY invalid '<termref def="key-vn">invalid</termref>' >

<!ENTITY its-a-restriction '<propref comp="ctd" prop="derivation method"/> 
         = <pt>restriction</pt>'>
<!ENTITY its-a-restriction.x '<phrase diff="del" dg="b5152">the 
         <eltref ref="restriction" inside="complexContent"/> alternative is chosen</phrase
        ><phrase diff="add" dg="b5152"
        ><propref comp="ctd" prop="derivation method"/> = <pt>restriction</pt></phrase>'>
<!ENTITY its-a-restriction.x2 '<phrase diff="del" dg="b5152">the 
         <eltref ref="restriction" inside="simpleContent"/> alternative is used</phrase
        ><phrase diff="add" dg="b5152"
        ><propref comp="ctd" prop="derivation method"/> = <pt>restriction</pt></phrase>'>
<!ENTITY its-a-restriction.x3 '<phrase diff="del" dg="b5152">the 
         <eltref ref="restriction" inside="simpleContent"/> alternative is chosen</phrase
        ><phrase diff="add" dg="b5152"
        ><propref comp="ctd" prop="derivation method"/> = <pt>restriction</pt></phrase>'>

<!ENTITY its-an-extension '<propref comp="ctd" prop="derivation method"/> 
         = <pt>extension</pt>'>
<!ENTITY its-an-extension.x '<phrase diff="del" dg="b5152">the 
         <eltref ref="extension" inside="complexContent"/> alternative is chosen</phrase
        ><phrase diff="add" dg="b5152"
        ><propref comp="ctd" prop="derivation method"/> = <pt>extension</pt></phrase>'>
<!ENTITY its-an-extension.x2 '<phrase diff="del" dg="b5152">the 
         <eltref ref="extension" inside="simpleContent"/> alternative is used</phrase
        ><phrase diff="add" dg="b5152"
        ><propref comp="ctd" prop="derivation method"/> = <pt>extension</pt></phrase>'>
<!ENTITY its-an-extension.x3 '<phrase diff="del" dg="b5152">the 
         <eltref ref="extension" inside="simpleContent"/> alternative is chosen</phrase
        ><phrase diff="add" dg="b5152"
        ><propref comp="ctd" prop="derivation method"/> = <pt>extension</pt></phrase>'>

<!ENTITY laxly_assessed '<termref def="key-lva">laxly assessed</termref>'>
<!ENTITY lax_assessment '<termref def="key-lva">lax assessment</termref>'>
<!ENTITY Lax_assessment '<termref def="key-lva">Lax assessment</termref>'>
<!ENTITY lexical_mapping '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-lexical-mapping"
>lexical mapping</xtermref>'>
<!ENTITY locally_valid 'locally &valid;'>
<!ENTITY locally_valid.xv '<phrase diff="add" dg="b5164">locally</phrase> &valid;'>
<!ENTITY local_validation 'local &validation;'><!--* ? what an ugly phrase! *-->
<!ENTITY local_validation.xv '<phrase diff="add" dg="b5164">local</phrase> &validation;'>
<!ENTITY local_validity 'local &validity;'>
<!ENTITY local_validity.xv '<phrase diff="add" dg="b5164">local</phrase> &validity;'>
<!--* lvip: locally valid (input against particle) *-->
<!ENTITY locally-valid-i-p '<termref def="key-lvip"/>'>
<!ENTITY ldtype '<termref def="key-ldtype"/>'>
<!ENTITY locally-determined-type '<termref def="key-ldtype"/>'>

<!ENTITY maps.xc '<phrase diff="del" dg="b5152">corresponds</phrase
                 ><phrase diff="add" dg="b5152">maps</phrase>'>
<!ENTITY marked-nil '<termref def="key-marked-nil"/>'>
<!ENTITY match-path '<termref def="key-path">match path</termref>'>
<!ENTITY munging "pre-processing">

<!ENTITY namespace_attributes '<xpropref href="http://www.w3.org/TR/xml-infoset/#infoitem.element">namespace attributes</xpropref>' >
<!ENTITY namespaces-nc '<propref comp="nc" prop="namespaces"/>'>
<!ENTITY nilled '<termref def="key-nilled"/>'>
<!ENTITY norm-value "<termref def='key-nv'>normalized value</termref>">
<!ENTITY ns-atts '&namespace_attributes;'>
<!ENTITY ns-fixup '<termref def="term-ns-fixup"/>'>
<!ENTITY Ns-fixup '<termref def="term-ns-fixup">Namespace fixup</termref>'>
<!ENTITY ns-matches '<termref def="key-ns-match">matches</termref>'>
<!ENTITY NCName '<termref def="gloss-NCName">NCName</termref>'>

<!ENTITY Otherwise.xo '<phrase diff="del" dg="b5152">otherwise</phrase
                      ><phrase diff="add" dg="b5152">Otherwise</phrase>'>
<!ENTITY overridden "<termref def='key-overrides'>overridden</termref>">
<!ENTITY override "<termref def='key-overrides'>override</termref>">
<!ENTITY overrides "<termref def='key-overrides'>overrides</termref>">

<!ENTITY override-not-top-level-note
'     <note diff="add" dg="b11179">
       <p>
	 Children of <eltref ref="override"/> are not strictly speaking top-level
	 declarations, but they will become top-level declarations if they
	 override corresponding declarations in the <termref def="key-targetset"/>
	 of their parent. See <specref ref="override-schema"/> for details.
       </p>
     </note>
'>
<!ENTITY p.min '<propref comp="p" prop="min occurs"/>'>
<!ENTITY p.max '<propref comp="p" prop="max occurs"/>'>
<!ENTITY p.term '<propref comp="p" prop="term"/>'>
<!ENTITY p2m '<phrase diff="del" dg="b5142">&P;</phrase><phrase diff="add" dg="b5142">&M;</phrase>'>
<!ENTITY path '<termref def="key-path"/>'>
<!ENTITY paths '<termref def="key-path">paths</termref>'>
<!--* particle0, 1, 2 are accidents of history.
    * particle0:  things that used to be <compref ref="p"/> *-->
<!ENTITY particle0 '<compref ref="p"/>'>
<!ENTITY particles0 '<compref name="Particles" ref="p"/>'>
<!ENTITY particle1 '<compref name="Particle" ref="p"/>'>
<!ENTITY particle2 'particle'>
<!ENTITY Particle2 'Particle' >
<!ENTITY particles2 'particles'>
<!ENTITY Particles2 'Particles' >

<!ENTITY particle '<compref ref="p"/>'>
<!ENTITY Particle '<compref ref="p" name="Particle"/>'>
<!ENTITY Particles '<compref ref="p" name="Particles"/>'>
<!ENTITY particles '<compref ref="p" name="Particles"/>'>

<!ENTITY partition "<termref def='key-partition'/>">
<!ENTITY partitions "<termref def='key-partition'>partitions</termref>">
<!ENTITY path "<termref def='key-path'>path</termref>">
<!ENTITY paths "<termref def='key-path'>paths</termref>">
<!ENTITY present '<termref def="key-nonnull"/>'>
<!ENTITY primitive.xbip '<phrase diff="del" dg="b3251">built-in</phrase> primitive'>
<!ENTITY propRec "property record"> <!-- micro-component as was-->
<!ENTITY PSVI. "<termref def='key-psvi'>PSVI</termref>">

<!ENTITY qualnodeset '<termref def="key-qns">qualified node set</termref>'>

<!--* entity r-value deprecated as of 23 Apr 2008, use init-value instead *-->
<!ENTITY recognize "<termref def='key-accept'>recognize</termref>">
<!ENTITY recognizes "<termref def='key-accept'>recognizes</termref>">
<!ENTITY recognized "<termref def='key-accept'>recognized</termref>">
<!ENTITY resolve_def "<termref def='key-resolve'>resolve</termref>">
<!ENTITY resolve_src "<termref def='src-resolve'>resolve</termref>">
<!ENTITY resolve_src.x '<phrase diff="del" dg="ep-rr">resolve</phrase
  ><phrase diff="add" dg="ep-rr">&resolve_src;</phrase>'>
<!ENTITY resolve_instance "<termref def='cvc-resolve-instance'>resolve</termref>">
<!ENTITY resolve_instance.x '<phrase diff="del" dg="ep-rr">resolve</phrase
  ><phrase diff="add" dg="ep-rr">&resolve_instance;</phrase>'>
<!ENTITY resolved_src "<termref def='src-resolve'>resolved</termref>">
<!ENTITY resolved_src.x '<phrase diff="del" dg="ep-rr">resolved</phrase
  ><phrase diff="add" dg="ep-rr">&resolved_src;</phrase>'>
<!ENTITY resolved_instance "<termref def='cvc-resolve-instance'>resolved</termref>">
<!ENTITY resolved_instance.x '<phrase diff="del" dg="ep-rr">resolved</phrase
  ><phrase diff="add" dg="ep-rr">&resolved_instance;</phrase>'>
<!ENTITY resolves_src "<termref def='src-resolve'>resolves</termref>">
<!ENTITY resolves_src.x '<phrase diff="del" dg="ep-rr">resolves</phrase
  ><phrase diff="add" dg="ep-rr">&resolves_src;</phrase>'>
<!ENTITY resolves_instance "<termref def='cvc-resolve-instance'>resolves</termref>">
<!ENTITY resolves_instance.x '<phrase diff="del" dg="ep-rr">resolves</phrase
  ><phrase diff="add" dg="ep-rr">&resolves_instance;</phrase>'>

<!--* <!ENTITY schema-or... '<eltref ref="schema"/><phrase diff="del" dg="b4767">
       or</phrase><phrase diff="add" dg="b4767">,</phrase>
       <eltref ref="redefine"/><phrase diff="add" dg="b4767">, or
       <eltref ref="override"/></phrase>'> *-->
<!ENTITY schema-or... '<eltref ref="schema"/>
       or <eltref ref="redefine"/>'>
<!ENTITY schema-or...xsr '<eltref ref="schema"/><phrase diff="add"
       dg="b11179b">, <eltref ref="override"/>,</phrase> 
       or <eltref ref="redefine"/>'>
<!ENTITY schema-or...xs '<eltref ref="schema"
       /><phrase diff="add" dg="b11179b">
       or <eltref ref="redefine"/></phrase>'>
<!--* Initial form of 11179 proposal:
<!ENTITY schema-or...xs '<eltref ref="schema"/><phrase diff="add"
       dg="b11179b">, <eltref ref="override"/>,
       or <eltref ref="redefine"/></phrase>'>
*-->
<!--* old form (before 26 april 2011) 
<!ENTITY schema-or...x1 '<eltref ref="schema"/> or
       <eltref ref="redefine"/>'>
*-->
<!ENTITY selected-type '<termref def="key-selected-type"/>'>
<!ENTITY selected-types '<termref def="key-selected-type">selected types</termref>'>
<!ENTITY s-select '<termref def="key-cta-ta-select">successfully select</termref>'>
<!ENTITY s-selects '<termref def="key-cta-ta-select"/>'>
<!ENTITY sibling '<pt>sibling</pt>'>
<!--* or ... *-->
<!ENTITY sibling '<pt>definedSibling</pt>'>
<!ENTITY skipped '<termref def="key-skipped"/>'>
<!ENTITY spuriously-nilled '<termref def="key-spuriously-nilled"/>'>
<!ENTITY strictly_assessed '<termref def="key-sva"/>'>
<!ENTITY subgroup-ref "<phrase diff='del' dg='b4337'>substitution group</phrase><termref def='key-eq' diff='add' dg='b4337'/>">
<!ENTITY subgroups-ref "<phrase diff='del' dg='b4337'>substitution groups</phrase><termref def='key-eq' diff='add' dg='b4337'>substitution groups</termref>">
<!ENTITY subject-to.x.given '<phrase diff="del" dg="cta-gst">given</phrase
><phrase diff="add" dg="cta-gst">subject to</phrase>'>

<!ENTITY td-basetype '<xpropref role="anon">base type definition</xpropref>'>
<!ENTITY td-basetype.x '<phrase diff="del" dg="wd-200708-1"><propref comp="td" prop="base type definition"/></phrase><phrase diff="add" dg="wd-200708-1"><xpropref role="anon">base type definition</xpropref></phrase>'>
<!ENTITY ctd-basetype '<propref comp="ctd" prop="base type definition"/>'>
<!ENTITY ctd-basetype.x '<phrase diff="del" dg="wd-200708-1"><propref comp="td" prop="base type definition"/></phrase><phrase diff="add" dg="wd-200708-1"><propref comp="ctd" prop="base type definition"/></phrase>'>
<!ENTITY ctd-basetype.xtdrtbtavotba '<phrase diff="del" dg="b5152"
	>type definition &resolved_src; to by the &v-value; of the
	 <code>base</code> &i-attribute;</phrase
        ><phrase diff="add" dg="b5152"
         ><propref comp="ctd" prop="base type definition"/></phrase>'>
<!ENTITY term '<propref comp="p" prop="term"/>'>
<!--* Type Alternative *-->
<!ENTITY ta '<compref ref="tac"/>'>
<!ENTITY ta.x '<compref ref="ta" diff="del" dg="cta-ta"/><compref ref="tac" diff="add" dg="cta-ta"/>'>
<!ENTITY ta-test '<propref prop="test" comp="tac"/>'>
<!ENTITY ta-test.x '<propref prop="test" comp="ta" diff="del" dg="cta-ta"/><propref prop="test" comp="tac" diff="add" dg="cta-ta"/>'>
<!ENTITY ta-type '<propref prop="type definition" comp="tac"/>'>
<!ENTITY ta-type.x '<propref prop="type definition" comp="ta" diff="del" dg="cta-ta"/><propref prop="type definition" comp="tac" diff="add" dg="cta-ta"/>'>
<!--* target node set / sequence *-->
<!ENTITY tnset '<termref def="key-tns">target node set</termref>' >

<!--* Type Table *-->
<!ENTITY tt '<compref ref="tt"/>'>
<!ENTITY tt-alternatives '<propref prop="alternatives" comp="tt"/>'>
<!ENTITY tt-declared-alternatives '<propref prop="declared alternatives" comp="tt"/>'>
<!ENTITY tt-actual-alternatives '<propref prop="actual alternatives" comp="tt"/>'>
<!ENTITY tt-default '<propref prop="default type definition" comp="tt"/>'>
<!--* transient form (first version of cta-ta: *-->
<!ENTITY tt-default '<propref prop="default type definition" comp="tt" diff="del" dg="cta-ta"/><propref prop="default alternative" comp="tt" diff="add" dg="cta-ta"/>'>

<!ENTITY unknown-dt '<xspecref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-unknown-dt">unknown</xspecref>'>
<!ENTITY unknown-f '<xspecref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-unknown-f">unknown</xspecref>'>
<!ENTITY URIref  'URI reference' >
<!ENTITY URIrefs 'URI references' >
<!ENTITY useroption '<termref def="dt-useroption"/>'>
<!ENTITY useroptions '<termref def="dt-useroption">user options</termref>'>
<!ENTITY atuseroption '<termref def="dt-useroption">at user
option</termref>'>

<!ENTITY v-path '<termref def="key-vpath"/>'>
<!ENTITY v-path-term '<term>validation-path</term>'>
<!ENTITY v-paths '<termref def="key-vpath">validation-paths</termref>'>
<!--* v-value (actual), r-value (initial), i-value (normalized).
    * These entity names make no sense at all ...
    *-->
<!ENTITY v-value "<termref def='key-vv'>actual value</termref>">
<!ENTITY v-values "<termref def='key-vv'>actual values</termref>">
<!ENTITY valid '<termref def="key-vn">valid</termref>' >
<!ENTITY validate '<termref def="key-vn">validate</termref>' >
<!ENTITY validated '<termref def="key-vn">validated</termref>' >
<!ENTITY validates '<termref def="key-vn">validates</termref>' >
<!ENTITY validating '<termref def="key-vn">validating</termref>' >
<!ENTITY validation '<termref def="key-vn">validation</termref>' >
<!ENTITY Validation '<termref def="key-vn">Validation</termref>' >
<!ENTITY validation-root '<termref def="key-vr"/>' >
<!ENTITY validity '<termref def="key-vn">validity</termref>' >
<!--* validly substitutable (for element decls, for type defs) *-->
<!ENTITY v-substitutable-restriction '<termref def="key-val-sub-type-restricts"/>'>
<!ENTITY v-substitutable_ed '<termref def="key-validly-sub"/>' >
<!ENTITY v-substitutable_td '<termref def="key-val-sub-type"/>' >
<!ENTITY v-substitutability_td '<termref def="key-val-sub-type"
  >valid substitutability</termref>' >
<!ENTITY variety-nc '<propref comp="nc" prop="variety"/>'>

<!ENTITY vv '<phrase diff="del" dg="b2825-2"><code>$version</code></phrase><phrase diff="add" dg="b2825-2">&V;</phrase>'>

<!ENTITY wc-match '<termref def="key-wc-match">match</termref>'>
<!ENTITY wc-matches '<termref def="key-wc-match">matches</termref>'>
<!ENTITY wc-particle '<termref def="key-wp"/>'>
<!ENTITY wc-particles '<termref def="key-wp">wildcard particles</termref>'>
<!ENTITY without-limit.x.gtes '<phrase diff="del" dg="cta-gst">given 
the empty set</phrase><phrase diff="add" dg="cta-gst"><termref 
def="key-val-sub-type-absolute">without limitation</termref></phrase>'>

<!ENTITY xable 'inheritable'>
<!ENTITY xed 'inherited'>
<!ENTITY Xed 'Inherited'>
<!ENTITY XMLSchema.x.structures '<phrase diff="del" dg="pr-201201">structures</phrase
	><phrase diff="add" dg="pr-201201">XMLSchema</phrase>' >
<!ENTITY xs.anyType '<termref def="key-anyType"><phrase><code>xs:anyType</code></phrase></termref>'>
<!ENTITY xs.anyType-xurat '<termref def="key-urType" diff="del" dg="rq17">anyType</termref><termref def="key-anyType" diff="add" dg="rq17"><phrase><code>xs:anyType</code></phrase></termref>'>
<!ENTITY xs.anyType-xtur '<phrase diff="del" dg="rq17">the <termref def="key-urType">ur-type definition</termref></phrase><phrase diff="add" dg="rq17">&xs.anyType;</phrase>'>
<!ENTITY xs.anyType-xturi '<phrase diff="del" dg="rq17">the <termref def="any-type-itself">ur-type definition</termref></phrase><phrase diff="add" dg="rq17">&xs.anyType;</phrase>'>
<!ENTITY xs.anyType-xurat1 '<termref def="any-type-itself" diff="del" dg="wd-200708-1">anyType</termref><phrase diff="add" dg="wd-200708-1">&xs.anyType;</phrase>'>
<!ENTITY xs.anyType-xtur1 '<phrase diff="del" dg="wd-200708-1">the <termref def="key-urType">ur-type definition</termref></phrase><phrase diff="add" dg="wd-200708-1">&xs.anyType;</phrase>'>
<!ENTITY xs.anyType-xturi1 '<phrase diff="del" dg="wd-200708-1">the <termref def="any-type-itself">ur-type definition</termref></phrase><phrase diff="add" dg="wd-200708-1">&xs.anyType;</phrase>'>

<!ENTITY xs.ast '<termref def="key-anySimpleType"><phrase><code>xs:anySimpleType</code></phrase></termref>'>
<!ENTITY xs.ast-xur '<termref def="key-simpleUrType" diff="del" dg="urtype">simple ur-type definition</termref><phrase diff="add" dg="urtype">&xs.ast;</phrase>'>
<!ENTITY xs.ast-xtur '<phrase diff="del" dg="urtype">the <termref def="key-simpleUrType">simple ur-type definition</termref></phrase><phrase diff="add" dg="urtype">&xs.ast;</phrase>'>
<!ENTITY xs.ast-xturi '<phrase diff="del" dg="urtype">the <termref def="simple-ur-type-itself">simple ur-type definition</termref></phrase><phrase diff="add" dg="urtype">&xs.ast;</phrase>'>
<!ENTITY xs.ast-xTur '<phrase diff="del" dg="urtype">The <termref def="key-simpleUrType">simple ur-type definition</termref></phrase><phrase diff="add" dg="urtype">&xs.ast;</phrase>'>
<!ENTITY xs.ast-xast '<termref def="simple-ur-type-itself" diff="del" dg="urtype">anySimpleType</termref><phrase diff="add" dg="urtype">&xs.ast;</phrase>'>

<!ENTITY xs.aat-xaat '<termref def="key-anyAtomicType" diff="del" dg="urtype"/><termref def="key-anyAtomicType" diff="add" dg="urtype"><phrase><code>xs:anyAtomicType</code></phrase></termref>'>
<!ENTITY xs.aat-xaat1 '<phrase diff="del" dg="urtype"><termref def="key-anyAtomicType" diff="add" dg="eg-1852"/></phrase><termref def="key-anyAtomicType" diff="add" dg="urtype"><phrase><code>xs:anyAtomicType</code></phrase></termref>'>

<!ENTITY xsd.error '<termref def="key-error"><phrase><code>xs:error</code></phrase></termref>'>


<!ENTITY sub-group-aff '<phrase diff="del" dg="b2834"><propref comp="ed" prop="substitution group affiliation"/></phrase><phrase diff="add" dg="b2834"><propref comp="ed" prop="substitution group affiliations"/></phrase>'>


<!--* variables *-->
<!ENTITY A "<var>A</var>" > 
<!ENTITY AS "<var>AS</var>" > 
<!ENTITY B "<var>B</var>" > 
<!ENTITY Bprime "<var>B</var>&prime;" > 
<!ENTITY BED "<var>BED</var>">
<!ENTITY BT "<var>BT</var>">
<!ENTITY BI "<var>BI</var>">
<!ENTITY C "<var>C</var>">
<!ENTITY C1 "&C;<sub>1</sub>">
<!ENTITY C2 "&C;<sub>2</sub>">
<!ENTITY CED "<var>CED</var>">
<!ENTITY CI "<var>CI</var>">
<!ENTITY ci "<var>ci</var>" > 
<!ENTITY ci.S "&ci;(&S;)" > 
<!ENTITY ci.S1 "&ci;(&S1;)" > 
<!ENTITY CT "<var>CT</var>" > 
<!ENTITY CTD "<var>CTD</var>" > 
<!ENTITY D "<var>D</var>" > 
<!ENTITY L.D "&L;(&D;)" > 
<!ENTITY D1 "&D;<sub>1</sub>" > 
<!ENTITY D2 "&D;<sub>2</sub>" > 
<!ENTITY D_new "&D;<sub><phrase><var>new</var></phrase></sub>" > 
<!ENTITY D_old "&D;<sub><phrase><var>old</var></phrase></sub>" > 
<!ENTITY D_new2 "&D;_<var>new</var>">
<!ENTITY D_old2 "&D;_<var>old</var>">
<!ENTITY D_new3 "<var>D_new</var>">
<!ENTITY D_old3 "<var>D_old</var>">
<!ENTITY D_new4 "<var>D-new</var>">
<!ENTITY D_old4 "<var>D-old</var>">
<!ENTITY D_new5 "<var>Dnew</var>">
<!ENTITY D_old5 "<var>Dold</var>">

<!ENTITY E "<var>E</var>" > 
<!ENTITY E1 "<var>E1</var>" > 
<!ENTITY E2 "<var>E2</var>" > 
<!ENTITY E2prime "<var>E2&prime;</var>" > 
<!ENTITY E_i "&E;<sub><phrase>&i;</phrase></sub>" > 
<!ENTITY En "<var>En</var>" > 
<!ENTITY ES "<var>ES</var>" > 
<!ENTITY F "<var>F</var>" > 
<!ENTITY G "<var>G</var>" > 
<!ENTITY L.G "&L;(&G;)" > 
<!ENTITY H "<var>H</var>" > 
<!ENTITY i "<var>i</var>" > 
<!ENTITY I "<var>I</var>" > 
<!ENTITY immed.D1 "<var>immed</var>(&D1;)" >
<!ENTITY j "<var>j</var>" > 
<!ENTITY k "<var>k</var>" > 
<!ENTITY K "<var>K</var>" > 
<!ENTITY L "<var>L</var>" > 
<!ENTITY M "<var>M</var>" > 
<!ENTITY m "<var>m</var>" > 
<!ENTITY L.M "&L;(&M;)" > 
<!ENTITY n "<var>n</var>" > 
<!ENTITY N "<var>N</var>" > 
<!ENTITY N1 "&N;<sub>1</sub>" > 
<!ENTITY N2 "&N;<sub>2</sub>" > 
<!ENTITY NS "<var>NS</var>" > 
<!ENTITY O "<var>O</var>" > 
<!ENTITY O1 "<var>O1</var>" > 
<!ENTITY O2 "<var>O2</var>" > 
<!ENTITY P "<var>P</var>" > 
<!ENTITY P1 "&P;<sub>1</sub>" > 
<!ENTITY P2 "&P;<sub>2</sub>" > 
<!ENTITY P3 "&P;<sub>3</sub>" > 
<!ENTITY Pi "&P;<sub><phrase>&i;</phrase></sub>" > 
<!ENTITY Pn "&P;<sub><phrase>&n;</phrase></sub>" > 
<!ENTITY L.P "&L;(&P;)" > 
<!ENTITY L.P1 "&L;(&P1;)" > 
<!ENTITY L.P2 "&L;(&P2;)" > 
<!ENTITY L.P3 "&L;(&P3;)" > 
<!ENTITY L.Pi "&L;(&Pi;)" > 
<!ENTITY L.Pn "&L;(&Pn;)" > 
<!ENTITY Q "<var>Q</var>" > 
<!ENTITY Q1 "&Q;<sub>1</sub>" > 
<!ENTITY Q2 "&Q;<sub>2</sub>" > 
<!ENTITY Q3 "&Q;<sub>3</sub>" > 
<!ENTITY Qi "&Q;<sub><phrase>&i;</phrase></sub>" > 
<!ENTITY Qj "&Q;<sub><phrase>&j;</phrase></sub>" > 
<!ENTITY Qn "&Q;<sub><phrase>&n;</phrase></sub>" > 
<!ENTITY R "<var>R</var>" > 
<!ENTITY RI "<var>RI</var>">
<!ENTITY S "<var>S</var>" > 
<!ENTITY S1 "<var>S1</var>">
<!ENTITY S2 "<var>S2</var>">
<!ENTITY S3 "<var>S3</var>">
<!ENTITY Sn "<var>Sn</var>">
<!ENTITY S_1 "&S;<sub>1</sub>" > 
<!ENTITY S_2 "&S;<sub>2</sub>" > 
<!ENTITY S_3 "&S;<sub>3</sub>" > 
<!ENTITY Si "&S;<sub><phrase>&i;</phrase></sub>" > 
<!ENTITY Sj "&S;<sub><phrase>&j;</phrase></sub>" > 
<!ENTITY Sn "&S;<sub><phrase>&n;</phrase></sub>" > 
<!ENTITY S_B "&S;<sub><phrase>&B;</phrase></sub>" > 
<!ENTITY S_R "&S;<sub><phrase>&R;</phrase></sub>" > 
<!ENTITY S_T "&S;<sub><phrase>&T;</phrase></sub>" > 
<!ENTITY S_old "&S;<sub><phrase><var>old</var></phrase></sub>" > 
<!ENTITY schema.D1 "<var>schema</var>(&D1;)" > 
<!ENTITY schema.D2 "<var>schema</var>(&D2;)" > 
<!ENTITY ST "<var>ST</var>" > 

<!ENTITY T "<var>T</var>" > 
<!ENTITY T_in_term '<phrase>&T;</phrase>' >
<!ENTITY T1 "<var>T1</var>" > 
<!ENTITY T2 "<var>T2</var>" > 
<!ENTITY T_B "&T;<sub><phrase>&B;</phrase></sub>" > 
<!ENTITY T_R "&T;<sub><phrase>&R;</phrase></sub>" > 
<!ENTITY T_T "&T;<sub><phrase>&T;</phrase></sub>" > 
<!ENTITY L.T "&L;(&T;)" > 
<!ENTITY tns.D1 "<var>tns</var>(&D1;)" >
<!ENTITY tns.D2 "<var>tns</var>(&D2;)" >
<!ENTITY U "<var>U</var>" > 
<!ENTITY V "<var>V</var>" > 
<!ENTITY v "<var>v</var>" > 
<!ENTITY V.M "&V;(&M;)" > 
<!ENTITY V.P "&V;(&P;)" > 
<!ENTITY W "<var>W</var>" > 
<!ENTITY L.W "&L;(&W;)" > 
<!ENTITY X "<var>X</var>" > 
<!ENTITY Y "<var>Y</var>" > 
<!ENTITY y "<var>y</var>" > 

<!--* Variable references that need diff markup *-->
<!ENTITY A.xTi   '<phrase diff="del" dg="ep20">The item</phrase><phrase diff="add"
		 dg="ep20">&A;</phrase>'>
<!ENTITY A.xti   '<phrase diff="del" dg="ep20">the item</phrase><phrase diff="add"
		 dg="ep20">&A;</phrase>'>
<!ENTITY A.xTaii '<phrase diff="del" dg="ep20">The attribute information item</phrase
                 ><phrase diff="add"
		 dg="ep20">&A;</phrase>'>
<!ENTITY A.xtaii '<phrase diff="del" dg="ep20">the attribute information item</phrase
                 ><phrase diff="add"
		 dg="ep20">&A;</phrase>'>
<!ENTITY B.xtbtd '<phrase diff="del" dg="ep22">the <propref comp="ctd" prop="base type definition"/></phrase
                 ><phrase diff="add" dg="ep22">&B;</phrase>'>
<!ENTITY B.xTbtd '<phrase diff="del" dg="ep22">The <propref comp="ctd" prop="base type definition"/></phrase
                 ><phrase diff="add" dg="ep22">&B;</phrase>'>
<!ENTITY B.xtbtdstd '<phrase diff="del" dg="ep22">the <propref comp="std" prop="base type definition"/></phrase
                    ><phrase diff="add" dg="ep22">&B;</phrase>'>
<!ENTITY B.xTbtdstd '<phrase diff="del" dg="ep22">The <propref comp="std" prop="base type definition"/></phrase
                    ><phrase diff="add" dg="ep22">&B;</phrase>'>

<!ENTITY D.xTed '<phrase diff="del" dg="ep20">The element
		 declaration</phrase><phrase diff="add"
		 dg="ep20">&D;</phrase>'>
<!ENTITY D.xted '<phrase diff="del" dg="ep20">the element
		 declaration</phrase><phrase diff="add"
		 dg="ep20">&D;</phrase>'>
<!ENTITY D.xTd  '<phrase diff="del" dg="ep20">The declaration</phrase
                 ><phrase diff="add" dg="ep20">&D;</phrase>'>
<!ENTITY D.xtd  '<phrase diff="del" dg="ep20">the declaration</phrase
                 ><phrase diff="add" dg="ep20">&D;</phrase>'>

<!ENTITY D.xThe '<phrase diff="del" dg="ep24">The </phrase
                ><phrase diff="add" dg="ep24">&D;.</phrase>'>
<!ENTITY D.xthe '<phrase diff="del" dg="ep24">the </phrase
                ><phrase diff="add" dg="ep24">&D;.</phrase>'>

<!ENTITY D_new.x1 '<phrase diff="del" dg="b8262">&D;<sub>1</sub></phrase
                  ><phrase diff="add" dg="b8262">&D_new;</phrase>' > 
<!ENTITY D_old.x2 '<phrase diff="del" dg="b8262">&D;<sub>2</sub></phrase
                  ><phrase diff="add" dg="b8262">&D_old;</phrase>' > 
<!ENTITY immed.D_new.x1 '<var>immed</var>(&D_new.x1;)' >
<!ENTITY schema.D_new.x1 "<var>schema</var>(&D_new.x1;)" > 
<!ENTITY schema.D_old.x2 "<var>schema</var>(&D_old.x2;)" > 
<!ENTITY tns.D_new.x1 "<var>tns</var>(&D_new.x1;)" >
<!ENTITY tns.D_old.x2 "<var>tns</var>(&D_old.x2;)" >


<!ENTITY D.dot.xDs '<phrase diff="del" dg="ep24"
	      ><phrase diff="add" dg="ep20">&D;&apos;s</phrase>
              </phrase
	      ><phrase diff="add" dg="ep24">&D;.</phrase>'>

<!ENTITY Es.xthe '<phrase diff="del" dg="ep24">the</phrase
                 ><phrase diff="add" dg="ep24">&E;&apos;s</phrase>'>

<!ENTITY T.content_type.variety '&T;.<propref comp="ctd" prop="content type"
             />.<propref comp="ct" prop="variety"/>'>
<!--* In the above, note that we are deleting whitespace too *-->
<!ENTITY E.xTeii '<phrase diff="del" dg="ep20">The element
		 information item</phrase><phrase diff="add"
		 dg="ep20">&E;</phrase>'>
<!ENTITY E.xteii '<phrase diff="del" dg="ep20">the element
		 information item</phrase><phrase diff="add"
		 dg="ep20">&E;</phrase>'>
<!ENTITY E.xti   '<phrase diff="del" dg="ep20">the item</phrase><phrase diff="add"
		 dg="ep20">&E;</phrase>'>
<!ENTITY E.xit '<phrase diff="del" dg="ep24">it</phrase
               ><phrase diff="add" dg="ep24">&E;</phrase>'>
<!ENTITY E.xIt '<phrase diff="del" dg="ep24">It</phrase
               ><phrase diff="add" dg="ep24">&E;</phrase>'>
<!ENTITY Es.xits '<phrase diff="del" dg="ep24">its</phrase
                 ><phrase diff="add" dg="ep24">&E;&apos;s</phrase>'>
<!ENTITY Es.xIts '<phrase diff="del" dg="ep24">Its</phrase
                 ><phrase diff="add" dg="ep24">&E;&apos;s</phrase>'>

<!ENTITY E2prime.xO2 '<phrase diff="del" dg="b14416b">&O2;</phrase><phrase diff="add"
		 dg="b14416b">&E2prime;</phrase>'>


<!ENTITY G.xtg  '<phrase diff="del" dg="ep22">the group</phrase
                ><phrase diff="add" dg="ep22">&G;</phrase>'>

<!ENTITY P.xtp2 '<phrase diff="del" dg="ep22">the &particle2;</phrase
                ><phrase diff="add" dg="ep22">&P;</phrase>'>
<!ENTITY P.xthe '<phrase diff="del" dg="ep24">the </phrase
                ><phrase diff="add" dg="ep24">&P;.</phrase>'>

<!ENTITY T.xTtd  '<phrase diff="del" dg="ep20">The type definition</phrase
                 ><phrase diff="add" dg="ep20">&T;</phrase>'>
<!ENTITY T.xttd  '<phrase diff="del" dg="ep20">the type definition</phrase
                 ><phrase diff="add" dg="ep20">&T;</phrase>'>
<!ENTITY T.xttd2  '<phrase diff="del" dg="ep22">the type definition</phrase
                  ><phrase diff="add" dg="ep22">&T;</phrase>'>
<!ENTITY T.xtcti '<phrase diff="del" dg="ep22">the complex type itself</phrase
                 ><phrase diff="add" dg="ep22">&T;</phrase>'>
<!ENTITY T.xtctdi '<phrase diff="del" dg="ep22">the complex type definition itself</phrase
                  ><phrase diff="add" dg="ep22">&T;</phrase>'>
<!ENTITY T.xtctd  '<phrase diff="del" dg="ep22">the complex type definition</phrase
                  ><phrase diff="add" dg="ep22">&T;</phrase>'>
<!ENTITY T.xthe '<phrase diff="del" dg="ep24">the </phrase
                ><phrase diff="add" dg="ep24">&T;.</phrase>'>

<!ENTITY U.xB    '<phrase diff="del" dg="ep22"><local>B</local></phrase
                   ><phrase diff="add" dg="ep22">&U;</phrase>'>
<!ENTITY U.xIt '<phrase diff="del" dg="ep24">It</phrase
               ><phrase diff="add" dg="ep24">&U;</phrase>'>
<!ENTITY Us.xIts '<phrase diff="del" dg="ep24">Its</phrase
                 ><phrase diff="add" dg="ep24">&U;&apos;s</phrase>'>

<!ENTITY V.xtvce2  '<phrase diff="del" dg="ep22">the <compref ref="vc_e"/></phrase
                   ><phrase diff="add" dg="ep22">&V;</phrase>'>

<!ENTITY n.xc '<phrase diff="del" dg="ep20"><code>n</code></phrase><phrase diff="add"
                 dg="ep20">&n;</phrase>'>
<!ENTITY N.xIt '<phrase diff="del" dg="b3251i">It</phrase
               ><phrase diff="add" dg="b3251i">&N;</phrase>'>
<!ENTITY N.xit '<phrase diff="del" dg="b3251i">it</phrase
               ><phrase diff="add" dg="b3251i">&N;</phrase>'>

<!ENTITY Doc1.x "<local diff='del' dg='b2067-2e'>SII&rsquo;</local><local diff='add' dg='b2067-2e'>D1</local>" > 
<!ENTITY Doc2.x "<local diff='del' dg='b2067-2e'>SII</local><local diff='add' dg='b2067-2e'>D2</local>" > 
<!ENTITY Sch2.x "<local diff='del' dg='b2067-2e'>I</local><local diff='add' dg='b2067-2e'>S2</local>" > 
<!ENTITY Doc1 "<local>D1</local>" > 
<!ENTITY Doc2 "<local>D2</local>" > 
<!ENTITY Doc2prime "<local>D2&prime;</local>" > 
<!ENTITY Doc3 "<local>D3</local>" > 
<!ENTITY Sch2 "<local>S2</local>" > 
<!ENTITY S4SD "schema for schema<phrase diff='del' dg='b2067-2e'>s</phrase><phrase diff='add' dg='b2067-2e'> documents</phrase>" > 
<!ENTITY XDN '<phrase diff="del" dg="b5274">defaultXP</phrase><phrase diff="add" dg="b5274">xp</phrase>athDefaultNamespace' >

<!ENTITY Doc_new.x1 '<phrase diff="del" dg="b8262">&Doc1;</phrase
                    ><phrase diff="add" dg="b8262">&D_new;</phrase>' > 
<!ENTITY Doc_old.x2 '<phrase diff="del" dg="b8262">&Doc2;</phrase
                   ><phrase diff="add" dg="b8262">&D_old;</phrase>' > 
<!ENTITY Doc_old.x2prime '<phrase diff="del" dg="b8262">&Doc2prime;</phrase
                        ><phrase diff="add" dg="b8262"><var>D<phrase><sub>old</sub>&prime;</phrase></var></phrase>' > 
<!ENTITY Sch_old.x2 '<phrase diff="del" dg="b8262">&Sch2;</phrase
                    ><phrase diff="add" dg="b8262">&S_old;</phrase>' > 


<!--* Entities for systematic diffed changes *-->
<!ENTITY bib.xcomma '<phrase diff="del" dg="ep6553">,</phrase><phrase diff="add" dg="ep6553">.</phrase>'>

<!ENTITY child.xdaughter '<phrase diff="del" dg="b5194">daughter</phrase
                         ><phrase diff="add"
                         dg="b5194">child</phrase>'>

<!ENTITY comma-11179 '<phrase diff="add" dg="b11179b">,</phrase>'>

<!ENTITY dot.xs '<phrase diff="del" dg="ep24">&apos;s </phrase><phrase diff="add" dg="ep24">.</phrase>'>
<!ENTITY dot.xhas '<phrase diff="del" dg="ep24"> has </phrase><phrase diff="add" dg="ep24">.</phrase>'>

<!ENTITY ed. '<phrase diff="add" dg="ep6553">ed.</phrase>'>
<!ENTITY _.xeds '<phrase diff="del" dg="ep6553">, eds.,</phrase>'>

<!--* =, formerly 'is' *-->
<!ENTITY eq.xis '<phrase diff="del" dg="ep24">is</phrase
                ><phrase diff="add" dg="ep24">=</phrase>' >
<!ENTITY eq.xof '<phrase diff="del" dg="ep24">of</phrase
                ><phrase diff="add" dg="ep24">=</phrase>' >
<!ENTITY eq.x   '<phrase diff="add" dg="ep24">=</phrase>' >

<!--* &may; have, formerly just 'has', in RQ-144 contexts *-->
<!ENTITY mayhave.xhas
  '<phrase diff="del" dg="opt.144">has</phrase
  ><phrase diff="add" dg="opt.144">&may; have</phrase>'>
<!--* if and only if, formerly just 'if' *-->
<!ENTITY iff.x 
  'if<phrase diff="add" dg="iff"> and only if</phrase>'>
<!--* If and only if, formerly just 'If' *-->
<!ENTITY Iff.x 
  'If<phrase diff="add" dg="iff"> and only if</phrase>'>
<!ENTITY Iff.y 
  'If<phrase diff="add" dg="iff.144"> and only if</phrase>'>

<!--* reverted ep-11 changes *-->
<!ENTITY Iff.y.r 
  'If<phrase diff="add" dg="iff.144.r"> and only if</phrase>'>

<!--* must, formerly 'should' *-->
<!ENTITY must.x.s 
  '<phrase diff="del" dg="fpwd">should</phrase><phrase diff="add" dg="fpwd">&must;</phrase>'>
<!--* is, formerly 'must' *-->
<!ENTITY is.xm 
  '<phrase diff="del" dg="modals">&must; be</phrase><phrase diff="add" dg="modals">is</phrase>'>
<!--* are, formerly 'must' *-->
<!ENTITY are.xm 
  '<phrase diff="del" dg="modals">&must; be</phrase><phrase diff="add" dg="modals">are</phrase>'>
<!--* is not, formerly 'must not be' *-->
<!ENTITY isnot.xmnb 
  '<phrase diff="del" dg="modals">&mustnot; be</phrase><phrase diff="add" dg="modals">is not</phrase>'>
<!ENTITY has.xmh '<phrase diff="del" dg="modals">&must; have</phrase
                 ><phrase diff="add" dg="modals">has</phrase>'>
<!ENTITY doesnot.xmn '<phrase diff="del" dg="modals">&mustnot;</phrase
                     ><phrase diff="add" dg="modals">does not</phrase>'>
<!ENTITY can.xm '<phrase diff="del" dg="may">may</phrase
                ><phrase diff="add" dg="may">can</phrase>'>
<!ENTITY will.xm '<phrase diff="del" dg="may">may</phrase
                 ><phrase diff="add" dg="may">will</phrase>'>
<!ENTITY may.xm '<phrase diff="del" dg="may">may</phrase
                ><phrase diff="add" dg="may">&may;</phrase>'>
<!ENTITY should.xs '<phrase diff="del" dg="modals">should</phrase
                   ><phrase diff="add" dg="modals">&should;</phrase>'>


<!ENTITY schema.x_ '<phrase diff="add" dg="b5137">schema</phrase>'>

<!--* E, formerly 'the element information item' *-->
<!ENTITY E.xeii '<phrase diff="del" dg="ep19b">the element
  information item</phrase><phrase diff="add" dg="ep19b">&E;</phrase>'>
<!ENTITY non-absent '<termref def="key-null">non-absent</termref>'>
<!ENTITY non-absent.x '<phrase diff="del" dg="modals">non-<termref
def="key-null">absent</termref></phrase><phrase diff="add"
dg="modals"><termref def="key-null">non-absent</termref></phrase>
'>

<!ENTITY num-er-decimal '<phrase diff="del" 
dg="b1915bis">number</phrase><phrase diff="add" 
dg="b1915bis">decimal</phrase>'>

<!--* ad hoc, just to de-clutter the source *-->
<!ENTITY their.5200 '<phrase diff="del" dg="b5200b">its</phrase><phrase diff="add" dg="b5200b">their</phrase>'>

<!--* name of the language and the spec *-->
<!--* see also XSP1 and XSP2 above *-->
<!--* 'Normal' entity names are just string replacements, for convenience.
    * Names of the form x.XXX have a del and an add, and should not be used
    * for new text. *-->
<!--* References to the language being defined and its namespaces *-->
<!ENTITY XSDLanguage "XML Schema Definition Language">
<!--* <!ENTITY XSDlang "XML Schema Definition language"> *-->
<!ENTITY x.XS-language '<phrase diff="del" dg="b4399">XML Schema language</phrase
                       ><phrase diff="add" dg="b4399">XML Schema Definition Language</phrase>'>
<!ENTITY x.XS-dl '<phrase diff="del" dg="b4399">XML Schema definition language</phrase
                       ><phrase diff="add" dg="b4399">&XSDLanguage;</phrase>' >
<!ENTITY x.XSD_lang '<phrase diff="del" dg="b4399">XML Schema</phrase
                    ><phrase diff="add" dg="b4399">&XSDL;</phrase>'>
<!ENTITY XSD_lang '&XSDL;'>
<!ENTITY x.XSD_Namespaces '<phrase diff="del" dg="b4399">XML Schema</phrase
                          ><phrase diff="add" dg="b4399">&XSDL;</phrase> Namespaces'>

<!--* References to the spec *-->
<!ENTITY x.XS-1.1 "<phrase diff='del' dg='b4399'
                   >XML Schema<phrase diff='add' dg='x1011'
                   > 1.1</phrase></phrase
                   ><phrase diff='add' dg='b4399'
                   >W3C &XSDLanguage; (&XSDL;) 1.1</phrase>">
<!ENTITY x.XS-plus-1.1 '<phrase diff="del" dg="b4399">XML Schema<phrase diff="add" dg="fpwd"> 1.1</phrase></phrase
><phrase diff="add" dg="b4399">XML Schema Definition Language 1.1</phrase>'>
<!ENTITY x.XS.P1.St "<phrase diff='del' dg='b4399'>XML Schemas: Part 1: Structures</phrase
><phrase diff='add' dg='b4399'>XML Schema Definition Language Part 1: Structures</phrase>">
<!ENTITY x.XS.P2.DT 'XML Schema<phrase diff="del" dg="b4399">:</phrase
><phrase diff="add" dg="b4399"> Definition Language</phrase> Part 2: Datatypes'>
<!ENTITY XS1.02E 'XML Schema 1.0 Second Edition'>
<!ENTITY x.XS_1.0 '<phrase diff="del" dg="b4399">XML Schema 1.0</phrase
><phrase diff="add" dg="b4399">version 1.0 of this specification 
<bibref ref="schema2e-1" diff="add" dg="b16080"/></phrase>'>
<!ENTITY x.XS_v_1.0 '<phrase diff="del" dg="b4399">XML Schema</phrase
><phrase diff="add" dg="b4399">&XSDL;</phrase> version 1.0'>
<!ENTITY x.XS_V_1.0 '<phrase diff="del" dg="b4399">XML Schema Version 1.0</phrase
><phrase diff="add" dg="b4399">version 1.0 of this specification
<bibref ref="schema2e-1" diff="add" dg="b16080"/></phrase>'>
<!ENTITY x.XS_v_1.1 '<phrase diff="del" dg="b4399">XML Schema</phrase
><phrase diff="add" dg="b4399">&XSDL;</phrase> version 1.1'>
<!ENTITY x.XS_V_1.1 '<phrase diff="del" dg="b4399">XML Schema Version 1.1</phrase
><phrase diff="add" dg="b4399">this version</phrase>'>
<!ENTITY x.XSD_spec '<phrase diff="del" dg="b4399">XML Schema</phrase
><phrase diff="add" dg="b4399">&XSDL;</phrase>'>
<!ENTITY x.XS.XSDspec '<phrase diff="del" dg="b4399">&XS;</phrase
><phrase diff="add" dg="b4399">the &XSDL; specification</phrase>' >
<!ENTITY x.XSs.XSD '<phrase diff="del" dg="b4399">XML Schemas</phrase
><phrase diff="add" dg="b4399">&XSDL;</phrase>' >

<!--* References to schemas and schema documents *-->
<!ENTITY x.XML_Schemas '<phrase diff="del" dg="b4399">XML Schemas</phrase
><phrase diff="add" dg="b4399">&XSDL; schemas</phrase>'>
<!ENTITY x.XML..Schemas '<phrase diff="del" dg="b4399">XML Schemas</phrase
><phrase diff="add" dg="b4399">schemas</phrase>'>
<!ENTITY x.XML_schemas '<phrase diff="del" dg="b4399">XML schemas</phrase
><phrase diff="add" dg="b4399">&XSDL; schemas</phrase>'>
<!ENTITY x.XSD_schema '<phrase diff="del" dg="b4399">XML Schema</phrase
><phrase diff="add" dg="b4399">&XSDL; schema</phrase>'>
<!ENTITY XSD_schema '&XSDL; schema'>
<!ENTITY XSD_schema-tr '<termref def="key-schema">&XSDL; schema</termref>'>
<!ENTITY x.XML_Schema-tr '<termref def="del-key-schema" diff="del" dg="b4399"
>XML Schema</termref><termref def="key-schema" diff="add" dg="b4399"
>&XSDL; schema</termref>'>
<!ENTITY x.XML_Schemas-tr '<termref def="del-key-schema" diff="del" dg="b4399"
>XML Schemas</termref><termref def="key-schema" diff="add" dg="b4399"
>&XSDL; schemas</termref>'>
<!ENTITY schema-tr '<termref def="key-schema">schema</termref>'>
<!ENTITY schema_document '<termref def="key-schemaDoc">schema document</termref>'>
<!ENTITY schema_documents '<termref def="key-schemaDoc">schema documents</termref>'>

<!--* Bare strings (things I don't want to try to disambiguate) *-->
<!ENTITY XS 'XML Schema'>
<!ENTITY XSs 'XML Schemas'>
<!ENTITY XSD 'XSD'>
<!ENTITY XSDL 'XSD<phrase diff="del" dg="b5266">L</phrase>'>


<!--* Things entified because they should NOT change *-->
<!ENTITY XSWG "XML Schema Working Group">

<!ENTITY % local.emph.class '|local|iiName'>
<!ENTITY % local.ref.class "|compref|propref|xpropref|eltref|clauseref">
<!ENTITY % local.illus.class "|compdef|microCompdef|reprdef|proplist|schemaComp|restrictCases|imagemap|codeScrap">


<!--* WG instructed editors to hyperlink 'derived' and 'constructed' to the
    * definitions in part 2, where appropriate.  Hence these gargoyles. *-->
<!--* Some references to these entities are in attribute values.  I 
    * suspect they weren't intended to be entified but got hooked by a 
    * global change by accident.  Those have to have different entity
    * names now, since they can't use the xtermref element. *-->
<!ENTITY derive '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-derived" diff="del" dg="b1913">derive</xtermref><termref def="key-derived" diff="add" dg="b1913">derive</termref>'>
<!ENTITY derived '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-derived" diff="del" dg="b1913">derived</xtermref><termref def="key-derived" diff="add" dg="b1913">derived</termref>'>
<!ENTITY derived_AV 'derived'>
<!ENTITY Derived '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-derived" diff="del" dg="b1913">derived</xtermref><termref def="key-derived" diff="add" dg="b1913">Derived</termref>'>
<!ENTITY deriving '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-derived" diff="del" dg="b1913">deriving</xtermref><termref def="key-derived" diff="add" dg="b1913">deriving</termref>'>
<!ENTITY derivation '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-derived" diff="del" dg="b1913">derivation</xtermref><termref def="key-derived" diff="add" dg="b1913">derivation</termref>'>
<!ENTITY derivation_AV 'derivation'>
<!ENTITY derivations '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-derived" diff="del" dg="b1913">derivations</xtermref><termref def="key-derived" diff="add" dg="b1913">derivations</termref>'>
<!ENTITY Derivation '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-derived" diff="del" dg="b1913">Derivation</xtermref><termref def="key-derived" diff="add" dg="b1913">Derivation</termref>'>
<!ENTITY Derivation_AV 'Derivation'>
<!ENTITY constructed '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-constructed" diff="del" dg="b1913">constructed</xtermref><termref def="key-constructed" diff="add" dg="b1913">constructed</termref>'>
<!ENTITY constructedDiff '<phrase diff="del" dg="derive-1913">derived</phrase><phrase diff="add" dg="derive-1913"><xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-constructed">constructed</xtermref></phrase>'>
<!ENTITY constructing '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-constructed" diff="del" dg="b1913">constructing</xtermref><termref def="key-constructed" diff="add" dg="b1913">constructing</termref>'>

<!ENTITY literal "<phrase>literal</phrase>" > 
<!ENTITY literals "<phrase>literals</phrase>" > 

<!ENTITY union '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-union">union</xtermref>'>
<!ENTITY unions '<xtermref href="http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html#dt-union">unions</xtermref>'>

<!ELEMENT clauseref EMPTY>
<!ATTLIST clauseref ref IDREF #REQUIRED>
<!ELEMENT restrictCases (restrict+)>
<!ELEMENT restrict (any|all|choice|elt|seq)*>
<!ATTLIST restrict case CDATA #REQUIRED>
<!ELEMENT any (#PCDATA)>
<!ATTLIST any ref NMTOKEN #IMPLIED>
<!ELEMENT all (#PCDATA)>
<!ATTLIST all ref NMTOKEN #IMPLIED>
<!ELEMENT elt (#PCDATA)>
<!ATTLIST elt ref NMTOKEN #IMPLIED>
<!ELEMENT choice (#PCDATA)>
<!ATTLIST choice ref NMTOKEN #IMPLIED>
<!ELEMENT seq (#PCDATA)>
<!ATTLIST seq ref NMTOKEN #IMPLIED>
<!ENTITY % schemaDTD
       PUBLIC "-//W3C//DTD Specification V2.2//EN" "schemaSpecs.dtd" >
%schemaDTD;
<!ATTLIST spec 
     schemaExample CDATA "./&schemaExample;"
     datatypeDoc CDATA "&xsp2Xref;"
     me CDATA "structures"
     otherSpec CDATA "http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/datatypes.html">

