schema/dotML.dtd

<!-- DTD for a subset of the DotML markup language. This was generated from example instances
     using the Saxon DTD Generator. It does not yet include all the elements/attributes allowed
     by the DotML XSD schema -->
     
<!-- MHK 22 July 2009: DTD modified to allow a node to contain another node; this is equivalent to
     having the two nodes separately and linking them with an edge with default attributes and no label -->

<!ELEMENT g:cluster ( g:edge | g:node | g:sub-graph )* >
<!ATTLIST g:cluster color CDATA #IMPLIED >
<!ATTLIST g:cluster fillcolor CDATA #IMPLIED >
<!ATTLIST g:cluster fontcolor CDATA #IMPLIED >
<!ATTLIST g:cluster fontname NMTOKEN #IMPLIED >
<!ATTLIST g:cluster fontsize NMTOKEN #IMPLIED >
<!ATTLIST g:cluster id NMTOKEN #REQUIRED >
<!ATTLIST g:cluster label CDATA #IMPLIED >
<!ATTLIST g:cluster style NMTOKEN #IMPLIED >

<!ELEMENT g:edge EMPTY >
<!ATTLIST g:edge URL NMTOKEN #IMPLIED >
<!ATTLIST g:edge arrowsize NMTOKEN #IMPLIED >
<!ATTLIST g:edge arrowhead NMTOKEN #IMPLIED >
<!ATTLIST g:edge arrowtail NMTOKEN #IMPLIED >
<!ATTLIST g:edge color CDATA #IMPLIED >
<!ATTLIST g:edge constraint CDATA #IMPLIED >
<!ATTLIST g:edge fontname NMTOKEN #IMPLIED >
<!ATTLIST g:edge fontsize NMTOKEN #IMPLIED >
<!ATTLIST g:edge from NMTOKEN #REQUIRED >
<!ATTLIST g:edge label NMTOKEN #IMPLIED >
<!ATTLIST g:edge ltail NMTOKEN #IMPLIED >
<!ATTLIST g:edge minlen NMTOKEN #IMPLIED >
<!ATTLIST g:edge style NMTOKEN #IMPLIED >
<!ATTLIST g:edge to NMTOKEN #REQUIRED >

<!ELEMENT g:graph ( g:cluster | g:edge | g:node | g:record )* >
<!ATTLIST g:graph bgcolor CDATA #IMPLIED >
<!ATTLIST g:graph file-name NMTOKEN #IMPLIED >
<!ATTLIST g:graph fontcolor CDATA #IMPLIED >
<!ATTLIST g:graph fontname CDATA #IMPLIED >
<!ATTLIST g:graph fontsize NMTOKEN #IMPLIED >
<!ATTLIST g:graph height NMTOKEN #IMPLIED >
<!ATTLIST g:graph label CDATA #IMPLIED >
<!ATTLIST g:graph margin CDATA #IMPLIED >
<!ATTLIST g:graph mclimit CDATA #IMPLIED >
<!ATTLIST g:graph nodesep NMTOKEN #IMPLIED >
<!ATTLIST g:graph ordering NMTOKEN #IMPLIED >
<!ATTLIST g:graph rankdir NMTOKEN #IMPLIED >
<!ATTLIST g:graph ranksep NMTOKEN #IMPLIED >
<!ATTLIST g:graph style NMTOKEN #IMPLIED >
<!ATTLIST g:graph width NMTOKEN #IMPLIED >

<!ELEMENT g:node ( g:node* ) >
<!ATTLIST g:node URL CDATA #IMPLIED >
<!ATTLIST g:node color CDATA #IMPLIED >
<!ATTLIST g:node edge-color CDATA #IMPLIED >
<!ATTLIST g:node fillcolor CDATA #IMPLIED >
<!ATTLIST g:node fontcolor CDATA #IMPLIED >
<!ATTLIST g:node fontname NMTOKEN #IMPLIED >
<!ATTLIST g:node fontsize NMTOKEN #IMPLIED >
<!ATTLIST g:node height NMTOKEN #IMPLIED >
<!ATTLIST g:node id NMTOKEN #IMPLIED >
<!ATTLIST g:node label CDATA #REQUIRED >
<!ATTLIST g:node pos CDATA #IMPLIED >
<!ATTLIST g:node shape NMTOKEN #IMPLIED >
<!ATTLIST g:node style NMTOKEN #IMPLIED >
<!ATTLIST g:node width NMTOKEN #IMPLIED >

<!ELEMENT g:record ( g:node+ ) >
<!ATTLIST g:record URL NMTOKEN #REQUIRED >
<!ATTLIST g:record fillcolor CDATA #REQUIRED >
<!ATTLIST g:record fontname NMTOKEN #REQUIRED >
<!ATTLIST g:record style NMTOKEN #REQUIRED >

<!ELEMENT g:sub-graph ( g:node+ ) >
<!ATTLIST g:sub-graph rank NMTOKEN #REQUIRED >

